{% extends 'layouts/layout' %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1>404</h1>
            <br />
            <p>
                Page not found
            </p>
        </div>
    </div>

{% endblock %}
