{% extends 'layouts/layout' %}

{% block content %}

    <div class="row">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-5">

            <h1>{{ entry.title }}</h1>

            <br /><br />

        </div>
        <div class="col-lg-3">
        </div>
    </div>

{% endblock %}
