{% extends 'layouts/layout' %}

{% block content %}

    <div class="row">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-5">

            <h1>{{ entry.title }}</h1>

            <br /><br />

            {% for entry in craft.entries.section('photographerEntry') %}

                <h2>{{ entry.title }}</h2>

                <br /><br />

                    {% for photoContent in entry.photographs %}

                        {# Category #}
                        {% set photoCategory = photoContent.category %}
                        {% for category in photoCategory  %}
                            {% if category|length %}
                                {{ category.title }}<br />
                            {% endif %}
                        {% endfor %}

                        {# Image #}
                        {% set image = photoContent.photograph %}
                        {% if image and image|length %}
                            {% for image in image %}
                                <img src="{{ image.getUrl('') }}" /><br />
                            {% endfor %}
                        {% endif %}

                    {% endfor %}

                <br />

                {% if entry.bio|length %}

                    <h3>Bio</h3>

                    <br /><br />

                    <p>
                        {{ entry.bio|nl2br }}
                    </p>

                {% endif %}

            {% endfor %}
        </div>
        <div class="col-lg-3">
        </div>
    </div>

{% endblock %}
