<!DOCTYPE html>
<html lang="en">
<head>

	<link rel="home" href="{{ siteUrl }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{# SEOmatic #}
	{% hook "seomaticRender" %}

	{# Cachebust the CSS/JS #}
    {% set assetVersion = craft.config.env == "local" ? date().getTimestamp() : 0.01 %}

	{# CSS #}
	{% includeCssFile "/assets/css/vendor.min.css?v="~assetVersion %}
	{% includeCssFile "/assets/css/site.min.css?v="~assetVersion %}

</head>

<body>
	<div class="container">
		<header id="header" class="row">
			<div class="col-lg-4">
			<h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>
			</div>
			<nav class="col-lg-8">
				<ul>
					<li><a href="{{ url('photographers') }}" {% if craft.request.firstSegment == 'photographers' %}class="active"{% endif %}>Photographers</a></li>
					<li><a href="{{ url('categories') }}" {% if craft.request.firstSegment == 'categories' %}class="active"{% endif %}>Categories</a></li>
					<li><a href="{{ url('about') }}" {% if craft.request.firstSegment == 'about' %}class="active"{% endif %}>About</a></li>
					<li><a href="{{ url('contact') }}" {% if craft.request.firstSegment == 'contact' %}class="active"{% endif %}>Contact</a></li>
				</ul>
			</nav>
		</header>

		<main id="content">
			{% block content %}
			{% endblock %}
		</main>

		<footer id="footer">
			&copy; {{ now.year }} Rolling Stills
		</footer>
	</div>

	{# JS #}
	{# CDN Jquery, localise before live deployment #}<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	{% includeJsFile "/assets/js/vendor.min.js?v="~assetVersion %}
	{% includeJsFile "/assets/js/main.min.js?v="~assetVersion %}

</body>
</html>
