
// Core styles

body{
    font-family: $font-main;
    color: $black;
}

.container{
}

.container-fluid{
}

header{
    margin-top: 2rem;
    margin-bottom: 4rem;
    h1{
        font-size: 1rem;
    }
}

nav{
    ul{
        margin: 0;
        padding: 0;
        li{
            list-style: none;
            display: inline-block;
            padding: 0 0.6rem;
            .active{
                opacity: 0.4;
            }
            &:first-child{
                padding-left: 0;
            }
        }
    }
}

/* ---------------------------- Site wide / Defaults / Resets ---------------------------- */

// Images

img{
    width: 100%;
}

h1{
    font-size: 2rem;
}

footer{
    margin: 10rem 0;
    font-size: 0.8rem;
    color: $grey;
}
