{% extends "_layouts/cp" %}

{% set title  = "Settings"|t %}
{% set bodyClass = craft.request.getSegments()|slice(0, 3)|join(' ') %}

{% set subnav = {} %}

{% set formSettings = craft.sproutForms.getSettings() %}

{% if formSettings.enableSaveData or formSettings.enableSaveDataPerFormBasis %}

	{% set subnav = {
	  entries: {
	    label: "Entries"|t,
	    url: url('sproutforms/entries')
	  }
	} %}

{% endif %}

{% set subnav = subnav|merge({
  forms: {
    label: "Forms"|t,
    url: url('sproutforms/forms')
  }
}) %}

{% if currentUser.can('editSproutFormsSettings') %}
	{% set subnav = subnav|merge({
		settings: {
			label: "Settings"|t,
			url: url('sproutforms/settings/general')
		}
	}) %}
{% endif %}

{% set selectedSubnavItem = craft.request.getSegment(2) %}
{% set selectedSidebarItem = craft.request.getSegment(3) %}

{% set sidebar %}

  <nav class="last">
    <ul>
      <li><a href="{{ cpUrl('sproutforms/settings/general') }}" {% if selectedSidebarItem == 'general' %}class="sel"{% endif %}>{{"General"|t}}</a></li>

	    <li><a href="{{ url('sproutforms/settings/entrystatuses') }}" {% if selectedSidebarItem == 'entrystatuses' %}class="sel"{% endif %}>{{ "Entry Statuses"|t }}</a></li>

	    <li><a href="{{ url('sproutforms/settings/advanced') }}" {% if selectedSidebarItem == 'advanced' %}class="sel"{% endif %}>{{ "Advanced"|t }}</a></li>

	    <li class="heading"><span>Examples</span></li>

	    <li><a href="{{ cpUrl('sproutforms/settings/examples') }}" {% if selectedSidebarItem == 'examples' %}class="sel"{% endif %}>Form Templates</a></li>

    </ul>
  </nav>

{% endset %}

{% includeCssResource 'sproutforms/css/sproutforms.css' %}